{% extends "home/base.html" %}
{% block title %} Blog {% endblock %}


{% load static %}

{%block head %}
<link rel="stylesheet" href=" {% static 'blog-static/css/style.css' %}">

{% endblock %}



{%block content%}

<div class="container">

	<div class="row mt-4">
		<div class="card single_post">
			{% if post.img %}
			<img src="{{post.img.url}}" class="card-img-top" alt="...">
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{post}}</h5>
				<p class="card-text">{{post.content}}</p>
				<form action="{% url 'comment' post.id %}" method="POST">
					{% csrf_token %}
					<textarea name='text' cols=100></textarea>
					<br>
					<button type="submit" class="btn btn-primary">Comment</button>
				</form>
			</div>
		</div>


	</div>

	<div class="comments-container">
		<h1>Comments </h1>

		<ul id="comments-list" class="comments-list">
			{% for comment in post.comments.all %}
			<li>
				<div class="comment-main-level">
					<div class="comment-avatar"><img
							src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" width="50"
							height="50" alt=""></div>
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author"><a
									href="http://creaticode.com/blog">{{comment.user.username}}</a></h6>
							<div class="comment-content">
								{{comment.reply}}
							</div>
							<span>{{comment.created_on}}</span>
						</div>

					</div>
				</div>

			</li>

	{%endfor%}
</div>

	</ul>

</div>
{% endblock %}