{% extends "home/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

<div class="container">
<div class="row">
  {% for course in courses %}
  <div class="col-lg-4 mb-4">
      <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{course.course.course_name}}</h5>    
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'course_details' course.course.id %}">{{ course.course.course_name }}</a>
            </div>
      </div>

</div>

  {% endfor %}
</div>
</div>

  {% endblock%}
